[submodule "sub/yuicompressor"]
	path = sub/yuicompressor
	url = github:yui/yuicompressor
[submodule "sub/html-minifier"]
	path = sub/html-minifier
	url = github:kangax/html-minifier
[submodule "sub/JSLint"]
	path = sub/JSLint
	url = github:douglascrockford/JSLint.git
[submodule "sub/js-beautify"]
	path = sub/js-beautify
	url = github:einars/js-beautify.git
[submodule "sub/jshint"]
	path = sub/jshint
	url = github:jshint/jshint
[submodule "sub/wro4j"]
	path = sub/wro4j
	url = github:alexo/wro4j
[submodule "sub/jslint4java"]
	path = sub/jslint4java
	url = https://code.google.com/p/jslint4java/
[submodule "sub/csslint"]
	path = sub/csslint
	url = github:stubbornella/csslint
[submodule "sub/rhino"]
	path = sub/rhino
	url = https://github.com/mozilla/rhino.git
