[submodule "sub/yuicompressor"]
	path = sub/yuicompressor
	url = github:yui/yuicompressor
[submodule "sub/html-minifier"]
	path = sub/html-minifier
	url = github:kangax/html-minifier
[submodule "sub/JSLint"]
	path = sub/JSLint
	url = github:douglascrockford/JSLint.git
[submodule "sub/js-beautify"]
	path = sub/js-beautify
	url = github:einars/js-beautify.git
[submodule "sub/jshint"]
	path = sub/jshint
	url = github:jshint/jshint
